@model X.PagedList.IPagedList<eProjectNetCore.Models.Class>
@using X.PagedList.Mvc.Core;
@{
    Layout = "_Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <div>
        <form action="" method="get" class="form-inline">
            <div class="form-group w-50">
                <input class="form-control" name="name" placeholder="Search ...">
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-success mr-1">Search</button>
                <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (@item.Status == "ACTIVE")
                        {
                            <span class="btn btn-success">ACTIVE</span>
                        }
                        else
                        {
                            <span class="btn btn-danger">DEACTIVE</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
new PagedListRenderOptions
{
LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }
}
)
</body>
</html>
