@model eProjectNetCore.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Image)</td>
            <td><img src="~/admin/@Html.DisplayFor(model => model.Image)" width="60" /></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Account)</td>
            <td>@Html.DisplayFor(model => model.Account.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Competition)</td>
            <td>@Html.DisplayFor(model => model.Competition.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UpdatedDate)</td>
            <td>@Html.DisplayFor(model => model.UpdatedDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UpdatedDate)</td>
            <td>@Html.DisplayFor(model => model.UpdatedDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Mark)</td>
            <td>@Html.DisplayFor(model => model.Mark)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Comment)</td>
            <td>@Html.DisplayFor(model => model.Comment)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.User)</td>
            <td>@Html.DisplayFor(model => model.User.Name)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
