@model X.PagedList.IPagedList<eProjectNetCore.Models.Project>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div>
    <form action="" method="get" class="form-inline">
        <div class="form-group w-50">
            <input class="form-control" name="status" placeholder="Search...">
        </div>
        <div class="my-2">
            <button type="submit" class="btn btn-success mr-1">Search for Status</button>
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Add New</a>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Competition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.Image" alt="@item.Image" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <span class="btn btn-success">@Html.DisplayFor(modelItem => item.Status)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                <a asp-action="Evaluate" asp-route-id="@item.Id" class="btn btn-danger">Evaluate</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
new PagedListRenderOptions
{
LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }
})