@model eProjectNetCore.Models.Menu

@{
    Layout = "_Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Competition</h4>
        <hr />
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Link)</td>
                <td>@Html.DisplayFor(model => model.Link)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Order)</td>
                <td>@Html.DisplayFor(model => model.Order)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Status)</td>
                <td>
                    @if (@Html.DisplayFor(model => model.Status).Equals("ACTIVE"))
                    {
                        <span>DEACTIVE</span>
                    }
                    else
                    {
                        <span>ACTIVE</span>
                    }
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</body>
</html>
